<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #workoutForm="ngForm">
      <div class="form-group">
        <label for="name">Title</label>
        <input type="text" [(ngModel)]="workout.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter Workout Title"
               required #name="ngModel">
      </div>
      <div class="form-group">
        <label for="name">Date</label>
        <input type="date" [(ngModel)]="workout.date"
               class="form-control"
               id="date"
               name="date"
               placeholder="Enter Date"
               required #date="ngModel">
      </div>
      <div class="form-group">
        <label for="name">Body</label>
        <textarea [(ngModel)]="workout.body"
               class="form-control"
               id="body"
               name="body"
               placeholder="Enter Workout"
               required #body="ngModel"
               rows = "4">
        </textarea>
      </div>
      <button type="submit" [disabled]="!workoutForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
