<div class="container">


  <div class="row" id="appHeader">
    <div class="col-md-1">
      <a routerLink="/workouts">
        <img id="kbImg" src="assets/kettlebell.png">
      </a>
    </div>

    <div class="col-md-5">
      <h1 class="">{{ title }}</h1>
    </div>

    <div class="col-md-6">
      <a id="addIcon"  routerLink="/addworkout"><i class="bi bi-plus-circle"></i></a>
    </div>
  </div>

  <div class="row" id="table">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

