<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Controls</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let wkt of workouts">
        <td>{{ wkt.date }}</td>
        <td>{{ wkt.name }}</td>
        <td><pre>{{wkt.body}}</pre></td>
        <td>
          <button type="submit"
                 class="btn btn-outline-info"
                 (click) = "editWorkout(wkt)"><i class="bi bi-pen-fill"></i></button>

          <button type="submit"
                 class="btn btn-outline-primary"
                  (click) = "duplicateWorkout(wkt)"><i class="bi bi-subtract"></i></button>

          <button type="submit"
            class="btn btn-outline-danger"
                  (click) = "deleteWorkout(wkt.id)"><i class="bi bi-trash"></i></button>

        </td>


      </tr>
      </tbody>
    </table>
  </div>
</div>
