<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Body</th>
        <th scope="col">Controls</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let wkt of workouts">
        <td>{{ wkt.id }}</td>
        <td>{{ wkt.date }}</td>
        <td>{{ wkt.name }}</td>
        <td><pre>{{wkt.body}}</pre></td>
        <td><input type="submit"
            class="btn btn-danger"
                 (click) = "deleteWorkout(wkt.id)" value="Del"> </td>


      </tr>
      </tbody>
    </table>
  </div>
</div>
